<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title>Hash Lookup - PasteRight</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <style>
        .outline {
            -webkit-text-stroke: 3px black;
        }
    </style>
</head>
<body>
<nav class="yellow darken-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo black-text">PasteRight</a>
        <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
</nav>
<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <br><br>
        <h4 class="header center black-text">Lookup for upload / transaction history ...</h4>
        <form class="row center">
            <input class="l8 offset-l2" type="search" placeholder="Enter your hash here ..." class="validate">
        </form>
        <br>

    </div>
</div>
<div class="container">
    <table class="responsive-table highlight">
        <tbody>
        <tr>
            <td >Hash</td>
            <td>936a185caaa266bb9cbe981e9e05cb78cd732b0b3280eb944412bb6f8f8f07af</td>
        </tr>
        <tr>
            <td>Type</td>
            <td>UPLOAD / TRANSACTION</td>
        </tr>
        <tr>
            <td>Timestamp</td>
            <td>1532159990</td>
        </tr>
        <tr>
            <td>From</td>
            <td>alex@askaboo.com</td>
        </tr>
        <tr>
            <td>To</td>
            <td>isaac@askaboo.com</td>
        </tr>
        </tbody>
    </table>

</div>

<!--  Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="js/materialize.js"></script>
<script src="js/init.js"></script>

</body>
</html>
